@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --brand-1: #4c6ef5;
    --brand-2: #364fc7;
    --gray-1: #191c1f;
    --gray-2: #212529;
    --gray-3: #343a40;
    --gray-4: #adb5bd;
    --gray-5: #ced4d4;
    --gray-6: #edf2ff;
    --gray-7: #f8f9fa;
}