body {
    width: 1728px;
    font-family: 'Inter', sans-serif;
}

.topbar {
    width: 1254px;
    height: 100px;
    background-color: var(--gray-1);
    border-bottom: 2px solid var(--brand-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 236px 0px 236px;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 200px;
    height: 20.8px;
}

.header-button {
    width: 266px;
    height: 60px;
    border: 1px solid var(--gray-7);
    background-color: var(--gray-1);
    font-weight: 600;
    font-size: 15px;
    color: var(--gray-7);
    padding: 20px 32px 20px 32px;
}

.section-banner {
    background-color: var(--gray-2);
    height: 281px;
    padding: 250px 236px 250px 236px;
}

h1 {
    font-weight: 600;
    font-size: 52px;
    width: 1085px;
    height: 73px;
    line-height: 72.8px;
    margin: 44px;
    color: var(--gray-6);
}

span {
    color: var(--brand-1);
}

.section-banner--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-banner--text {
    color: var(--gray-4);
    width: 770px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 44px;
}

.section-banner--button {
    width: 142px;
    height: 60px;
    background-color: var(--brand-1);
    border: 1px solid var(--brand-1);
    color: var(--gray-7);
    font-size: 16px;
    font-weight: 600;
}

.section-about {
    background-color: var(--gray-1);
    height: 120px;
    padding: 82px 236px 82px 236px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--gray-6);
    width: 620px;
    height: 46px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    color: var(--gray-6);
    height: 51px;
}

.section-about--text {
    color: var(--gray-5);
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    width: 580px;
    height: 120px;
}

.section-about--container {
    display: flex;
}

.section-faq {
    background-color: var(--gray-2);
    height: 1387px;
    padding: 82px 236px 82px 236px;
}

.section-faq--container {
    display: flex;
}

.section-faq--duvidas {
    width: 620px;
    height: 280px;
    position: sticky;
    top: 200px;
}

.section-faq--ul {
    width: 583px;
    list-style-type: none;
    text-align: center;
}

.section-faq--button {
    width: 266px;
    height: 60px;
    background-color: var(--brand-1);
    border: 1px solid var(--brand-1);
    color: var(--gray-7);
    font-size: 16px;
    font-weight: 600;
}

.section-faq--text {
    color: var(--gray-4);
    width: 583px;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 44px;
}

.section-comments {
    background-color: var(--gray-2);
    height: 1387px;
    padding: 82px 236px 82px 236px;
}

.section-comments--container {
    display: flex;
    flex-direction: row-reverse;
}

.section-comments--text {
    color: var(--gray-4);
    width: 412px;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 44px;
}

.section-comments--square {
    background-color: var(--brand-1);
    width: 413.6px;
    height: 363px;
    margin-left: 35px;
    padding: 80px 52px 80px 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 200px;
}

.section-comments--ul {
    width: 620px;
    list-style-type: none;
}

.section-comments--name {
    width: 192px;
    margin-right: 8px;
}

.section-comments--desc {
    color: var(--gray-4);
    font-size: 16px;
    font-weight: 400;
}

.section-comments--title {
    line-height: 64px;
}

.section-comments--li {
    display: flex;
    margin: 16px;
}

.narrow {
    width: 533px;
    text-align: justify;
}

.bottombar {
    height: 52px;
    background-color: var(--gray-1);
    border-bottom: 2px solid var(--brand-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 775px 50px 775px;
}